In [1]:
#importing...

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#reading dataset...

df = pd.read_csv("/kaggle/input/usd-npr-historic-exchange-rates/USD_NPR Historical Data .csv")

In [3]:
df.head(5)

         Date    Price     Open     High      Low Vol. Change %
0  05/31/2024  133.501  133.254  133.501  133.071  NaN    0.14%
1  05/30/2024  133.310  133.480  133.510  133.220  NaN   -0.03%
2  05/29/2024  133.350  133.150  133.370  133.150  NaN    0.20%
3  05/28/2024  133.080  133.030  133.110  132.965  NaN    0.05%
4  05/27/2024  133.010  132.950  133.025  132.870  NaN    0.04%

In [4]:
#droping Vol column

df = df.drop(['Vol.'], axis = 1)

In [5]:
df.head(5)

         Date    Price     Open     High      Low Change %
0  05/31/2024  133.501  133.254  133.501  133.071    0.14%
1  05/30/2024  133.310  133.480  133.510  133.220   -0.03%
2  05/29/2024  133.350  133.150  133.370  133.150    0.20%
3  05/28/2024  133.080  133.030  133.110  132.965    0.05%
4  05/27/2024  133.010  132.950  133.025  132.870    0.04%

In [6]:
#droping Open, High and Low Column

df = df.drop(columns = ["Open", "High", "Low"])

In [7]:
df.head(5)

         Date    Price Change %
0  05/31/2024  133.501    0.14%
1  05/30/2024  133.310   -0.03%
2  05/29/2024  133.350    0.20%
3  05/28/2024  133.080    0.05%
4  05/27/2024  133.010    0.04%

In [8]:
df.to_csv('Clean_USD-NPR-historic-exchange-rate.csv', index=False)